<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dllyal.forum.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.dllyal.forum.model.User" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="upicsrc" property="upicsrc" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, account, password, uname, upicsrc, sex, birthday, phone, createtime, sign, note, 
    role, state
  </sql>
  
  <!-- 添加用户 -->
  <insert id="insertUser" parameterType="com.dllyal.forum.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="upicsrc != null" >
        upicsrc,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="phone != null" >
        phone,
      </if>
        createtime,
      <if test="sign != null" >
        sign,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upicsrc != null" >
        #{upicsrc,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
     	NOW(),  
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <!-- 根据账号或昵称查找返回user -->
  <select id="selectByLikeNameAccount" resultMap="BaseResultMap" >
    SELECT 
    <include refid="Base_Column_List" /> 
    from `user` WHERE CONCAT(account,uname) LIKE #{words,jdbcType=VARCHAR} 
  </select>
  
  <!-- 查找账号个数 -->
  <select id="selectAccountCount" resultType="java.lang.Integer" >
    SELECT COUNT(*) FROM `user` WHERE account = #{account,jdbcType=VARCHAR};
  </select>
  
  <!-- 根据账号查找返回user -->
  <select id="selectUserByAccount" resultMap="BaseResultMap" >
    SELECT <include refid="Base_Column_List" /> FROM `user` WHERE account = #{account,jdbcType=VARCHAR};
  </select>

  <!-- 根据uid查找返回user -->
  <select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
   	select 
    <include refid="Base_Column_List" />
    from user
    where uid = #{uid,jdbcType=INTEGER}
  </select>

  <!-- 更新 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.dllyal.forum.model.User" >
    update user
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upicsrc != null" >
        upicsrc = #{upicsrc,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  
</mapper>